node_modules/
.DS_Store
.env
googlecalendarintegration/credentialsFirebase.json
googlecalendarintegration/token.json
googlecalendarintegration/credentialsGoogleApi.json
smarteventsuggestion/credentials.json
